<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>AkademiaChat</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
    <section id="wrapper">
        <h1>AkademiaChat</h1>

        <article>
            <ul id="messages">
                <li class="message">Test</li>
            </ul>

            <form>
                <input type="text" id="message" placeholder="Podaj wiadomość">
            </form>
        </article>
    </section>
</body>
</html>